.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: clamp(100vh, 120vh, 150vh);
}

.mobileBuyTicket {
  display: none;
}

.header {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2em;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'leftTitle glass'
    'info rightTitle';
  gap: 2rem;
}

.leftTitleText,
.rightTitleText {
  font-size: clamp(3rem, 7rem, 10rem);
}

.leftTitle {
  grid-area: leftTitle;
}

.rightTitle {
  grid-area: rightTitle;
  position: relative;
  top: -6rem;
  z-index: 1;
  text-align: right;
  transform: translateX(-30%);
}

.info {
  grid-area: info;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: 'Neue Haas';
}

.date {
  font-size: clamp(2rem, 4rem, 6rem);
  flex-shrink: 0;
}

.infoText {
  font-size: clamp(1.5rem, 3.5rem, 5rem);
  max-width: 20rem;
  font-weight: 200;
}

.mobileGlassGrid {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  display: none;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 10%);
  grid-template-areas:
    '. upperGlass . . .'
    '. . .  .midGlass'
    '. . . . .'
    '. . . . .'
    'lowerLeftGlass . . . lowerRightGlass';
}

.upperGlass,
.midGlass,
.lowerLeftGlass,
.lowerRightGlass {
  position: relative;
  z-index: 4;
}

.upperGlass {
  grid-area: upperGlass;
}
.midGlass {
  grid-area: midGlass;
}
.lowerLeftGlass {
  grid-area: lowerLeftGlass;
  position: relative;
  z-index: 2;
  transform: translateY(50%);
}
.lowerRightGlass {
  grid-area: lowerRightGlass;
}

.glassContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  /* opacity: 0.1; */
  z-index: 1;
}

.glassRight {
  position: absolute;
  right: 0;
}

.glassAboveTitle {
  grid-area: glass;
  position: relative;
  z-index: 2;
}

@media (max-width: 120em) {
  .infoText {
    font-size: 2rem;
  }
}

@media (max-width: 30em) {
  .mobileGlassGrid {
    display: grid;
  }
  .hero {
    height: 100vh;
  }
  .leftTitleText,
  .rightTitleText {
    width: 90%;
  }
  .buyTicketContainer {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
  }
  .mobileBuyTicket {
    display: block;
    position: relative;
    z-index: 3;
  }
  .glassContainer {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightTitle {
    top: 0;
    transform: none;
  }
  .leftTitleText,
  .rightTitleText {
    font-size: 3rem;
    position: relative;
    z-index: 3;
  }
  .leftTitle,
  .rightTitle {
    width: 100%;
    text-align: left;
  }
  .rightTitleText {
    // text-align: center;
  }
  .date {
    font-size: 2rem;
    flex-shrink: 0;
  }
  .infoText {
    font-size: 1rem;
  }

  .glassLeft,
  .glassRight,
  .glassAboveTitle {
    display: none;
  }
}
