.highlights {
  padding-left: 5rem;
  padding-right: 5rem;
}

.highlightHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.highlightsContainer {
  padding: 5rem;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "info carousel";
  margin-top: 5rem;
  gap: 8rem;
}

.swiper-slide {
  width: max-content;
}

.swiperContainer {
  grid-area: carousel;
  overflow: hidden;
}

.speakerInfoContainer {
  color: white;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: black;
  align-items: center;
}

.speakerInfo {
  font-size: 3rem;
  text-align: center;
  span {
    font-size: 6rem;
    font-weight: bold;
  }
}

.highlightTitle {
  font-size: 3rem;
}

.scheduleContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.scheduleText {
  font-size: 2rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  flex-direction: column;
  padding: 1em;
}

.navButtonContainer {
  cursor: pointer;
  z-index: 10;
  position: relative;
  img {
    &:last-child {
      margin-left: 2em;
    }
  }
}

.speakerOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #51a8c7;
  opacity: 0.4;
}

figure {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
}

figure > img {
  max-width: 320px;
}

@media (max-width: 30em) {
  .highlightHeading {
    flex-direction: column;
  }
  .highlights {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
  }
  figure > img {
    max-width: 240px;
  }
  .highlightsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .navButtonContainer {
    display: none;
  }
  .speakerInfoContainer {
    width: 90%;
    text-align: left;
  }
  .speakerInfo {
    text-align: left;
    width: 100%;
    font-size: 2rem;

    span {
      font-size: 3.5rem;
    }
  }
  .slide {
    padding: 0.2em;
  }
  .swiperContainer {
    width: 100%;
  }
}
