@media (max-width: 30em) {
  .header {
    padding: 3em 3em 3em 3em;
  }
  .buyTicketLink {
    display: none;
  }
  .navContainer {
    gap: 1em;
    justify-content: flex-end;
    width: 100%;
  }
  .companyName,
  .headerInfo {
    display: none;
  }
  .navLink {
    font-size: 1rem;
  }
  .headerInfo {
    font-size: 1rem;
  }
  .hamburger {
    width: 2rem;
    height: 100%;
  }
}
