body {
  background: black;
  color: white;
  overflow-x: hidden;
}
hr,
.textBetweenSections {
  margin: auto 5rem;
}
hr {
  height: 0.5em;
  background: white;
}

.textBetweenSections {
  font-size: 2rem;
  margin-bottom: 7rem;
  margin-bottom: 0.2rem;
  font-family: 'Neue Haas TXPro';
}

@media (max-width: 30em) {
  hr,
  .textBetweenSections {
    margin: auto 1rem;
  }
  .textBetweenSections {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
