@font-face {
  font-family: 'Everett Regular';
  src: url(../fonts/Everett-Regular.woff) format('woff'),
    url(../fonts/Everett-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Neue Haas';
  src: url(../fonts/Neue-Haas-Grotesk-Display-Pro-Regular.woff) format('woff'),
    url(../fonts/Neue-Haas-Grotesk-Display-Pro-Regular.woff2) format('woff2');
}
