@media (max-width: 30em) {
  .introText {
    max-width: 90%;
    font-size: 1.3rem;
    margin: auto;
    line-height: 1.5;

    font-weight: 500;
  }
  .carouselContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
  }
  .carouselItem {
    .visibleText {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 1em;
      padding-left: 1em;
      .categoryAbbr {
        font-size: 3rem;
        font-weight: bold;
      }
      .categoryTitle {
        font-size: 1.5rem;
      }
    }
    .hiddenTextContainer {
      height: 30%;
      max-width: 100%;
      transition: 0.5s ease-in-out;
    }

    .hiddenText {
      padding-left: 1em;
      padding-left: 1em;
    }
  }
}
