@media (max-width: 110em) {
  .rightTitle {
    left: auto;
  }
}

@media (max-width: 75em) {
  .rightTitleText,
  .leftTitleText {
    font-size: 7rem;
    width: 80%;
  }
  .hero {
    height: 130vh;
  }

  .leftTitle,
  .info {
    padding-left: 0;
    padding-top: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
  }
  .rightTitle {
    top: 0;
    transform: none;
    left: auto;
    position: relative;
    z-index: 5;
  }
  .leftTitleText,
  .rightTitleText {
    font-size: 6rem;
    position: relative;
    z-index: 3;
  }
  .leftTitle,
  .rightTitle {
    width: 100%;
    text-align: left;
  }

  .date {
    font-size: 3rem;
    font-weight: bold;
    flex-shrink: 0;
  }

  .infoContainer {
    margin-top: 3rem;
    gap: 1rem;
  }

  .infoText {
    font-size: 1rem;
  }

  .glassAboveTitle {
    display: none;
  }
}
