@media (max-width: 120em) {
  .infoText {
    font-size: 2rem;
  }
}

@media (max-width: 30em) {
  .mobileGlassGrid {
    display: grid;
  }
  .hero {
    height: 120vh;
  }

  .rightTitle {
    position: relative;
    top: -1.5rem;
  }
  .leftTitleText,
  .rightTitleText {
    width: 90%;
  }
  .buyTicketContainer {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    z-index: 5;
  }
  .mobileBuyTicket {
    display: block;
    position: relative;
  }
  .glassContainer {
    display: none;
  }

  .grid {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .leftTitleText,
  .rightTitleText {
    font-size: 3rem;
  }

  .midGlass {
    position: relative;
    left: -1.5em;
  }

  .date {
    font-size: 2rem;
  }

  .infoText {
    font-size: 1rem;
  }

  .glassLeft,
  .glassRight,
  .glassAboveTitle {
    display: none;
  }
}
