* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Rubik", sans-serif;
}

hr,
.textBetweenSections {
  margin: auto 5rem;
}

hr {
  height: 0.5em;
  background: white;
}

.textBetweenSections {
  font-size: 2rem;
  margin-bottom: 7rem;
}

@media (max-width: 30em) {
  hr,
.textBetweenSections {
    margin: auto 1rem;
  }

  .textBetweenSections {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
.header {
  color: white;
  padding: 3em 3em 3em 1.5em;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: transparent;
}

.headerInfoContainer {
  display: flex;
  gap: 0.2em;
  align-items: center;
}
.headerInfoContainer .companyName {
  margin-right: 1em;
  font-size: 1.6rem;
}

.navContainer {
  display: flex;
  gap: 4em;
  align-items: center;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 5rem;
  height: 100%;
}

.navLink {
  text-decoration: none;
  color: white;
  font-family: Tahoma, sans-serif;
}

.hamburgerLine {
  height: 5%;
  width: 100%;
  background: white;
}

@media (max-width: 30em) {
  .buyTicketLink {
    display: none;
  }

  .navContainer {
    gap: 1em;
    justify-content: flex-end;
    width: 100%;
  }

  .companyName,
.headerInfo {
    display: none;
  }

  .navLink {
    font-size: 1rem;
  }

  .headerInfo {
    font-size: 1rem;
  }

  .hamburger {
    width: 2rem;
    height: 100%;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
}

.mobileBuyTicket {
  display: none;
}

.header {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2em;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "leftTitle glass" "info rightTitle";
  gap: 2rem;
}

.leftTitleText,
.rightTitleText {
  font-size: 7rem;
}

.leftTitle {
  grid-area: leftTitle;
}

.rightTitle {
  grid-area: rightTitle;
  position: relative;
  top: -6rem;
  z-index: 1;
  text-align: right;
  transform: translateX(-30%);
}

.info {
  grid-area: info;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.date {
  font-size: 4rem;
}

.infoText {
  font-size: 3.5rem;
}

.mobileGlassGrid {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  display: none;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(4, 10%);
  grid-template-areas: ". upperGlass . ." ". . . midGlass" ". . . ." "lowerLeftGlass . . lowerRightGlass";
}

.upperGlass,
.midGlass,
.lowerLeftGlass,
.lowerRightGlass {
  position: relative;
  z-index: 4;
}

.upperGlass {
  grid-area: upperGlass;
}

.midGlass {
  grid-area: midGlass;
}

.lowerLeftGlass {
  grid-area: lowerLeftGlass;
  position: relative;
  z-index: 2;
  transform: translateY(50%);
}

.lowerRightGlass {
  grid-area: lowerRightGlass;
}

.glassContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  /* opacity: 0.1; */
  z-index: 1;
}

.glassRight {
  position: absolute;
  right: 0;
}

.glassAboveTitle {
  grid-area: glass;
  position: relative;
  z-index: 2;
}

@media (max-width: 30em) {
  .mobileGlassGrid {
    display: grid;
  }

  .hero {
    height: 95vh;
  }

  .leftTitleText,
.rightTitleText {
    width: 90%;
  }

  .buyTicketContainer {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
  }

  .mobileBuyTicket {
    display: block;
    position: relative;
    z-index: 3;
  }

  .glassContainer {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightTitle {
    top: 0;
    transform: none;
  }

  .leftTitleText,
.rightTitleText {
    font-size: 3rem;
    position: relative;
    z-index: 3;
  }

  .leftTitle,
.rightTitle {
    width: 100%;
    text-align: left;
  }

  .date {
    font-size: 2rem;
    flex-shrink: 0;
  }

  .infoText {
    font-size: 1rem;
  }

  .glassLeft,
.glassRight,
.glassAboveTitle {
    display: none;
  }
}
.intro {
  margin-top: 5em;
}

.introText {
  margin-left: 5rem;
  font-size: 2.7rem;
  min-width: 60%;
  max-width: 80%;
}

.carouselContainer {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: 20rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 15rem;
}

.swiper {
  height: 100%;
}

.carouselItem {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #191919;
  transition: 0.5s ease-in-out;
}
.carouselItem .visibleText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1em;
  padding-left: 1em;
}
.carouselItem .visibleText .categoryAbbr {
  font-size: 4rem;
  font-weight: bold;
}
.carouselItem .visibleText .categoryTitle {
  font-size: 3rem;
}
.carouselItem .hiddenTextContainer {
  height: 30%;
  max-width: 100%;
  transition: 0.5s ease-in-out;
}
.carouselItem .hiddenText {
  padding-left: 1em;
  padding-left: 1em;
}

.showHiddenText {
  background: #191919;
}

.hideHiddenText {
  background: black;
}

.showCategory {
  transform: translateY(-25%);
  background: #191919;
}

.hideCategory {
  transform: translateY(0%);
  background: black;
}

@media (max-width: 30em) {
  .introText {
    max-width: 90%;
    font-size: 1.3rem;
    margin: auto;
    font-weight: 500;
  }

  .carouselContainer {
    padding-left: 2rem;
  }

  .carouselItem .visibleText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-left: 1em;
  }
  .carouselItem .visibleText .categoryAbbr {
    font-size: 3rem;
    font-weight: bold;
  }
  .carouselItem .visibleText .categoryTitle {
    font-size: 1.5rem;
  }
  .carouselItem .hiddenTextContainer {
    height: 30%;
    max-width: 100%;
    transition: 0.5s ease-in-out;
  }
  .carouselItem .hiddenText {
    padding-left: 1em;
    padding-left: 1em;
  }
}
.highlights {
  padding-left: 5rem;
  padding-right: 5rem;
}

.highlightHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.highlightsContainer {
  padding: 5rem;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "info carousel";
  margin-top: 5rem;
  gap: 8rem;
}

.swiper-slide {
  width: max-content;
}

.swiperContainer {
  grid-area: carousel;
  overflow: hidden;
}

.speakerInfoContainer {
  color: white;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: black;
  align-items: center;
}

.speakerInfo {
  font-size: 3rem;
  text-align: center;
}
.speakerInfo span {
  font-size: 6rem;
  font-weight: bold;
}

.highlightTitle {
  font-size: 3rem;
}

.scheduleContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.scheduleText {
  font-size: 2rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  flex-direction: column;
  padding: 1em;
}

.navButtonContainer {
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.navButtonContainer img:last-child {
  margin-left: 2em;
}

.speakerOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #51a8c7;
  opacity: 0.4;
}

figure {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
}

figure > img {
  max-width: 320px;
}

@media (max-width: 30em) {
  .highlightHeading {
    flex-direction: column;
  }

  .highlights {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
  }

  figure > img {
    max-width: 240px;
  }

  .highlightsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navButtonContainer {
    display: none;
  }

  .speakerInfoContainer {
    width: 90%;
    text-align: left;
  }

  .speakerInfo {
    text-align: left;
    width: 100%;
    font-size: 2rem;
  }
  .speakerInfo span {
    font-size: 3.5rem;
  }

  .slide {
    padding: 0.2em;
  }

  .swiperContainer {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
